[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
requests = "*"
thoth-storages = "*"

[dev-packages]
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"

[requires]
python_version = "3.6"
