[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = {version = "*", extras = ["openshift"]}
thoth-storages = "*"
prometheus-client = "*"

[dev-packages]
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"

[requires]
python_version = "3.6"
